async-generator==1.10
attrs==21.4.0
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cleo==0.8.1
clikit==0.6.2
colorama==0.4.4
configparser==5.2.0
crashtest==0.3.1
crayons==0.4.0
cryptography==36.0.1
distlib==0.3.4
filelock==3.6.0
h11==0.13.0
html5lib==1.1
idna==3.3
importlib-metadata==4.11.3
keyring==23.5.0
lockfile==0.12.2
msgpack==1.0.3
numpy==1.22.2
outcome==1.1.0
packaging==20.9
pandas==1.4.1
pastel==0.2.1
pexpect==4.8.0
pkginfo==1.8.2
platformdirs==2.5.1
poetry==1.1.13
poetry-core==1.0.8
ptyprocess==0.7.0
pycparser==2.21
pylev==1.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-toolbelt==0.9.1
selenium==4.1.0
shellingham==1.4.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
tomlkit==0.10.1
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
virtualenv==20.14.1
webdriver-manager==3.5.2
webencodings==0.5.1
wsproto==1.0.0
zipp==3.8.0
